
@font-face{
	font-family: 'just sans';
	src:url('../fonts/justsans.ttf')  format('truetype');
	
	font-display: auto;
  }

  @font-face{
	font-family: 'designer';
	src:url('../fonts/designer.ttf')  format('truetype');
	
	font-display: auto;
  }


  @font-face{
	font-family: 'digitalix';
	src:url('../fonts/digitalix.ttf')  format('truetype');
	
	font-display: auto;
  }


  @font-face{
	font-family: 'space';
	src:url('../fonts/space.ttf')  format('truetype');
	
	font-display: auto;
  }


  @font-face{
	font-family:'exquisite';
	src:url('../fonts/exquisite.ttf')  format('truetype');
	
	font-display: auto;
  }


html,

body {
	background: radial-gradient(rgb(60, 60, 60), #030312);
	height: 100vh;
	background-size: cover;
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
	  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	overflow-x: hidden;
	margin: 0; /* remove default margin */
	padding: 0; /* remove default padding */
	overflow: hidden; /* Prevent scrolling on the body element */
  }
  
  

h1 {
	margin-bottom: 1rem;
	font-family: 'Just Sans';
}

h2 {
	margin-bottom: 0.5rem;
	font-family: 'space';
	color: #ffffff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: .5px;;
}

h3 {
	margin-bottom: 0.5rem;
	font-family: 'designer';
	color: #34b1cd;
	text-transform: uppercase;
	font-size: 15px;

}

p {
	line-height: 1.5rem;
	font-family: 'Just Sans';
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	html {
	}
}

.rowC {
	display: flex;
	margin: 0rem auto;
	align-content: center;
}

.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.sectionitem {
	flex: 1;
	margin: 0 1rem;
	
}

@media only screen and (max-width: 767px) {

	body {
		height: 100vh;
		
		overflow-x: hidden;
		
		overflow: hidden; /* Prevent scrolling on the body element */
	
	  }
	.sectionitem {
		flex: 1;
		margin: 0rem;
	}

	.section {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 20px;
		margin-bottom: 300px;
	}

	h3 {
		margin-bottom: 0.5rem;
		font-family: 'designer';
		color: #34b1cd;
		text-transform: uppercase;
		font-size: 10px;
	
	}
	h2 {
		margin-bottom: 0.5rem;
		font-family: 'space';
		color: #ffffff;
		text-transform: uppercase;
		font-size: 20px;
		letter-spacing: .5px;;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.section {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
		grid-auto-flow: row;
		gap: 20px;
	}
}


.main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
	
}


.loading_screen {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	background: radial-gradient(#000000, #000000);
	background-position: top;
	background-attachment: fixed;
	background-repeat: no-repeat;
  }
  
  .loading_pic {
	width: 100px;
	height: 100px;
	align-items: center;
	justify-content: center;
	background-image: url("../public/pawpilotlogo.png");
	width: 100%;
  }

/* Works for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
	-webkit-appearance: none;
	margin: 0;
}
