/* Card Styles */
.logo{
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
  
  
  }
  
  
  
  .card {
  
    background: radial-gradient(#d7d5d5, #ffffff);	    
    border-radius: 10px;
      padding: 0rem;
      margin: -1rem auto;
      max-width: 400px;
      max-height: auto;
      /* Add some shadow to the card */
      box-shadow: 0 0 10px rgb(0, 0, 0);
      /* Add some padding to the card */
      padding: 1rem;
      /* Add some font styles */
      color: #fff;
      font-family: 'Just Sans', sans-serif;
      justify-content: center;
      align-items: center;
      
  
  }
  
  @media screen and (max-width: 480px) {
    .card {
      display: inline-block;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
    }
    
  
  
    }
  
  /* Form styles */
  .card_form {
      display: flex;
      flex-wrap: wrap;
      /* Add some padding to the form */
      padding: 0rem;
      justify-content: center;
      align-items: center;
      margin: 0rem auto;
  
      
  }
  
  /* Input Styles */
  .card_input {
      width: 85%;
      margin: 0.25rem;
      padding: 0rem;
      border-radius: 10px;
      border: none;
      font-size: 1rem;
      /* Add some padding and border to the inputs */
      padding: 12px 15px;
      border: 1px solid #ddd;
      /* Add some background-color to the inputs */
      background-color: #fff;
      /* Add some font styles to the inputs */
      color: #444;
      font-family: 'Just Sans', sans-serif;
      text-transform: uppercase;
      text-align: center;
      position: relative;
  }
  
  .select_box {
    background-color: white;
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    
  }
  
  
  
  .text_button {
    width: 100%;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    background: none;
    font-family: 'Just Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    justify-content: center;
    align-items: center;
  
  
    transition: transform 0.3s ease-in-out; /* Added transition property */
  }
  
  .text_button:hover {
  transform: scale(1.10); /* Increase the scale by 5% */
  }
  
  
  
    .submit_button {
      width: 100%;
  
      background: radial-gradient(#314151, #081a1e);
      color: #34b1cd;
      margin: 20px;
      padding: 15px 30px;
      border-radius: 15px;
      border: none;
      font-family: 'designer', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 5px rgb(130, 130, 130);
      cursor: pointer;
  
      transition: transform 0.3s ease-in-out; /* Added transition property */
    }
  
    .submit_button:hover {
      transform: scale(1.04); /* Increase the scale by 5% */
    
    }
   
    
    .animated_image {
      animation: slide-in 5s;
      max-width: 50px;
      z-index: 5;
  
  
      
  
    }
    
    @keyframes slide-in {
      from {
        transform: translateX(-1500%);
      }
      to {
        transform: translateX(4000%);
      }
    }
  
  
  .contractread {
    width: 85%;
    margin: 0.5rem;
    padding: 0rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    /* Add some padding and border to the inputs */
    padding: 12px 15px;
    /* Add some background-color to the inputs */
    /* Add some font styles to the inputs */
    color: #444;
    font-family: 'Just Sans', sans-serif;
    text-transform: uppercase;
    text-align: left;
  
  
  }
  
  
  .totalamount {
    width: 40%;
    margin: 5px;
    border: none;
    font-size: 1.5rem;
    /* Add some padding and border to the inputs */
    /* Add some background-color to the inputs */
    /* Add some font styles to the inputs */
    color: #393c97;
    
    display: flex;
    justify-content: center;
    position: relative;
    align-items:center;
      vertical-align: middle;
  
  }
  
  
  .popupcard {
    justify-content: center;
    align-items: center;
    background: radial-gradient(#d7d5d5, #ffffff);
    border-radius: 10px;
    z-index: 3;
    border-radius: 10px;
    /* Optional Styling /
    padding: 20px;
    border-style: solid;
  
    display: flex;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    / Add some padding to the card /
    padding: 1rem;
    / Add some font styles */
    color: rgb(0, 0, 0);
    font-family: 'Just Sans', sans-serif;
    font-size: .8rem;
    line-height: 0rem;
    letter-spacing: 0px;
    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px; /* adjust as per your needs */
    height: 200px; /* adjust as per your needs */
    }
  
  .popupcardcontent {
    
    justify-content: center;
    align-items: center;
   
    line-height: 1rem;
    letter-spacing: 0px;
  
    text-align: center;
    padding: .5rem;
    z-index: 3;
  
  
    
  }
   
  .close_icon {
    content: 'x';
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
    width: 25px;
    height: 25px;
    line-height: 20px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    background: none;
    border-style: none;
    display: flex;
    box-shadow: 0 0 0px rgb(0, 0, 0);
    
  }
  
  .labeltext{
    font-family: 'Just Sans', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-size: 12px;
    border-bottom:0;
  
  
  
  }
  
  
  
  .input-container {
    position: relative;
    display: inline-block;
    width: 85%;
      margin: 0.5rem;
      padding: 0rem;
      border-radius: 10px;
      border: none;
      font-size: 1rem;
      /* Add some padding and border to the inputs */
      padding: 12px 15px;
      border: 1px solid #ddd;
  }
  
  .currency-symbol {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    opacity: 0;
  }
  
  input:not(:placeholder-shown) + .currency-symbol {
    opacity: 1;
  }
  
  .successmessage {
    margin-top: 0rem;
    color: green;
    font-weight: bold;
    width: auto;
    font-size: .75rem;
    text-align: center;
  
  }
  
  .tokenselect{
    width: 15%;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    font-size: .75rem;
    /* Add some padding and border to the inputs */
    padding: 0px 0px;
    border: px solid #ddd;
    /* Add some background-color to the inputs */
    background-color: #fff;
    /* Add some font styles to the inputs */
    color: #444;
    font-family: 'Just Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    position: fixed;
    display: block;
    align-items: center;
    list-style: none;
    z-index: 10;
  
  }
  
  
  
  
  
  .tokenlogo img {
    /* Make sure max-width is added */
    max-width: 100%;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    justify-content: auto;
    
  }
  
  
  
  .tokendropdown {
      width: 15%;
    margin: 0.5rem;
    border-radius: 10px;
    border: none;
    font-size: .75rem;
    /* Add some padding and border to the inputs */
    padding: 0px 0px;
    border: 0px solid #ddd;
    /* Add some background-color to the inputs */
    background-color: #fff;
   max-width: 100%;
    height: 30px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    display: flex;
    align-items: center;
  
    justify-content: auto;
  
      block-size: fit-content;
    z-index: 3;
  
    }
    
  
  
  